html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
}

/*Todo HEADER */
header {
  /* mất kích thước thẻ
  height: lấy height của con

   */
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  /* z-index: quy định thứ tự của position 
  999999: trong trường hợp web quá dài, nhiều page con và phát triển lâu*/
  z-index: 100;
}
.bg-light {
  background-color: hotpink !important;
}

header .nav-link {
  color: white;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}
.navbar-light .navbar-brand {
  color: #35a22c;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

header .nav-item {
  padding: 0 10px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px !important;
  font-weight: 600;
  text-transform: capitalize;
}

/* before, after: inline */
/* trước hover */
header .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  /* display: inline-block; xét được kích thước, sắp các con trên 1 hàng => không dùng với BS4*/
  display: block;

  transition: all 0.5s;
}

/* sau hover */
/* thẻ cha (nav-item) nhận hover, thẻ con thay đổi (after) */
header .nav-item:hover::after {
  width: 100%;
}

/* thẻ li có class active thì after luôn không đổi */
header .active::after {
  width: 100%;
}
