.ph-sun {
    color: gray
  }
  
  .header.dark-mode {
    background-color: #151515;
    color: white
  }
  .button-nav.dark-mode{
    background-color: #151515;
    color: white
  }
  
  .button-readMore.dark-mode{
    color: white
  }
  
  .div-about.dark-mode {
    background-color: #151515;
    color: white
  }
  
  .col.dark-mode {
    background-color: #151515;
    color: white
  }
  
  .a-content-grid.dark-mode {
    color: white
  }
  
  .div-bg.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .div-grid.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .div-benefit.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .text-dark-mode.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .li-spacing-benefit.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .div-ourPlan.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .spacing-ourPlan.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .content-ourPlan.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .spacing-test.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .content-ourPlan.dark-mode {
    background-color: #222222;
    color: white
  }
  
  .testimonials-item.dark-mode {
    background-color: #151515;
    color: white
  }
  
  .name.dark-mode {
    color: white
  }
  
  .button-search.dark-mode {
    background-color: #222222;
  }